
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}

.dark-1{
    color: #131313;
}
.dark-2{
    color: #727272;
}
.dark-3{
    color: #000000;
}
.bg-light{
    background-color: rgba(255, 244, 231, 1);
}
.btn-primary{
    font-size: 1.25rem;
    font-weight: 600;
    padding: 1.3125rem 1.5rem 1.25rem 1.5625rem;
    color: wheat;
    background-color: #FF900E;
    border: none;
    border-radius: 0.5rem;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}

/* Header styles */


/* Navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 2.8rem;
    font-weight: bold;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    margin-right: 1.875rem;
    font-weight: 500;
    font-size: 1.125rem;
}

.navbar, .banner{
    max-width: 1920px;
    margin: 0 auto;
}

/* banner related styles */
.banner-content{
    max-width: 54.0625rem;
    margin: 0 auto 3.125rem auto;
    text-align: center;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
}
.banner-description{
    font-size: 1rem;
}
.banner-img{
    width: 100%;
    margin-bottom: 2.8125rem;
}

/* team and feature related styles */
.teams{
    align-items: center;
    margin-top: 5.3125rem;
    column-gap: 4.5625rem;
}
.our-features{
    max-width: 537px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.feature-title{
    font-size: 2.8125rem;
    font-weight: 700;
    margin-bottom: 0;
}
.feature-description{
    font-size: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    margin: 0 0;
}
#quick-list{
    font-weight: 500;
}

/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, .nav-links{
        flex-direction: column;
    }
}