
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}

.text-primary{
    color: #FF900E;
}
.dark-1{
    color: #131313;
}
.dark-2{
    color: #000000;
}
.dark-3{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 244, 231, 1);
}
.btn-primary{
    font-size: 1.25rem;
    font-weight: 600;
    padding: 1.3125rem 1.5rem 1.25rem 1.5625rem;
    color: wheat;
    background-color: #FF900E;
    border: none;
    border-radius: 0.5rem;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
.section-title{
    font-size: 2.8125rem;
    font-weight: bold;
}


/* Header styles */


/* Navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 2.8rem;
    font-weight: bold;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    margin-right: 1.875rem;
    font-weight: 500;
    font-size: 1.125rem;
}

.navbar, .banner{
    max-width: 1920px;
    margin: 0 auto;
}

/* banner related styles */
.banner-content{
    max-width: 54.0625rem;
    margin: 0 auto 3.125rem auto;
    text-align: center;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
}
.banner-description{
    font-size: 1rem;
    margin-bottom: 2rem;
}
.banner-img{
    width: 100%;
    margin-bottom: 2.8125rem;
}

/* team and feature related styles */
.teams{
    align-items: center;
    margin-top: 5.3125rem;
    margin-bottom: 8.125rem;
    column-gap: 4.5625rem;
}
.our-features{
    max-width: 537px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.feature-title{
    font-size: 2.8125rem;
    font-weight: 700;
    margin-bottom: 0;
}
.feature-description{
    font-size: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    margin: 0 0;
}
#quick-list{
    font-weight: 500;
}

/* some fact related card */
.some-facts{
    margin-bottom: 11.3rem;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7.760625rem;
}
.fact-card{
    border: 1px solid #FF900E;
    width: 18.13rem;
    height: 18.13rem;
    border-radius: 0.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.fact-number{
    font-size: 2.8125rem;
    font-weight: 600;
    margin-top: 0.625rem;
    margin-bottom: 0.3125rem;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}
.section-title{
    margin-bottom: 1.5rem;
}
#fact-description{
    max-width: 33.875rem;
    margin-top: 0;
    margin-bottom: 3.13rem;
}

/* sponsor styles */
.sponsor-info{
    margin: 0 auto;
    max-width: 32.75rem;
    text-align: center;
}
.sponsor-title{
    margin-top: 0;
}
.sponsor-description{
    margin: 0 auto 3.125rem auto;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 9.7025rem;
}
.sponsor-companies img{
    filter: grayscale(100%);
}

/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links,
    .teams
    {
        flex-direction: column;
    }
    .nav-item{
        margin-bottom: 10px;
    }
    .banner-description{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .team-img-container,
    .facts-container, 
    .sponsor-companies
    {
        grid-template-columns: 1fr;
    }
    .some-facts{
        justify-items: center;
    }
    .some-facts > p{
        text-align: center;
    }
    .facts-container{
        justify-items: center;
    }
    .our-features{
        margin: 0 1rem;
    }
    .sponsor-companies{
        justify-items: center;
        gap: 50px;
    }

}

/* medium size device */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .team-img-container,
    .facts-container, 
    .sponsor-companies
    {
        grid-template-columns: repeat(2, 1fr);
    }
    .some-facts{
        justify-items: center;
    }
    .sponsor-companies{
        justify-items: center;
        gap: 50px;
    }
}